{% extends 'shop/basic.html'%}
{% block title%}About{% endblock%}

{% block body%}
          <div class="container my-2">
              <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About Us</h1>
        <p class="lead text-muted"> This is a simple e-commerce website for selling different categorys product.A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location. Through an e-commerce website, a business can process orders, accept payments, manage shipping and logistics, and provide customer service.</p>
        <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>
          </div>
{% endblock%}